@font-face {
    font-family: SnellRoundhandLTStd-Scr;
    src: url("fonts/SnellRoundhandLTStd-Scr.otf") format("opentype");
}

* {
  margin:0;
}

body {
    background-image: url("images/pinksky.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.screens {
    width:100vw;
    display: block;
    margin-left:30px;
}

.screens img{
    margin-bottom: 20px;
    height: 100%;
    width:100px;
    margin-left: 10px;
    margin-right: 10px;
}

.screens img:hover{
  cursor:pointer;
  box-shadow: 0 0 15px #ff63dd;

}

#description {
    color:#ff63dd;
    margin-left: 40px;
    display: none;
    font-size: 5.5em;
    font-family: SnellRoundhandLTStd-Scr;
    margin-right: 15px;
    margin-bottom: 10px;
}

.sorting{
    position: absolute;
    font-family: sans-serif;
    font-size: 1em;
    display: block;
    top:30px;
    right:30px;
    color: #ff63dd;
}

.sorting a{
    color:#ff63dd;
    margin-bottom: 5px;
    display: block;
}

.sorting p{
 margin-bottom: 5px; 
}

.lines {
display: block;
}


hr { 
  border-width: 1px;
  border-color: #ff63dd;
  border-style: solid;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.lines hr{
  border-width: 1px;
  border-color: #ff63dd;
  border-style: solid;
  margin-bottom: 100px;
}

button {
  background-color: transparent;
  border: none;
  color: #ff63dd;
  text-align: left;
  text-decoration: none;
  font-size: 5.5em;
  font-family: SnellRoundhandLTStd-Scr;
  outline: none;
  margin-top:100px;
  margin-left:25px;
}

button:hover{
  color:white;
  cursor: pointer;
}

