@font-face {
    font-family: SnellRoundhandLTStd-Scr;
    src: url("fonts/SnellRoundhandLTStd-Scr.otf") format("opentype");
}

* {
  margin:0;
}

body {
    background-image: url("images/pinksky.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.screens {
    width:100vw;
    display: block;
    margin-left:30px;
}

.screens img{
    padding-bottom: 20px;
    height: 100%;
    width:100px;
    margin-left: 10px;
    margin-right: 10px;
}

.title  {
    width: 100vw;

}

.title p{
    margin-top: 100px;
    margin-left: 25px;
    font-family: SnellRoundhandLTStd-Scr;
    font-size: 5.5em;
    color:#ff63dd;
}

.sorting{
    position: absolute;
    font-family: sans-serif;
    font-size: 1em;
    display: block;
    top:30px;
    right:30px;
}

.sorting a{
    color:#ff63dd;
    margin-bottom: 5px;
    display: block;
    text-decoration: none;
}

hr { 
  border-width: 1px;
  border-color: #ff63dd;
  border-style: solid;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.lines hr{
  border-width: 1px;
  border-color: #ff63dd;
  border-style: solid;
  margin-bottom: 100px;
}


