@font-face {
    font-family: GiddyupStd;
    src: url("fonts/GiddyupStd.otf") format("opentype");
}

body {
    margin:0;
    padding: 0;
    background-color: #ff71d4;
}

.screens {
    width:100vw;
    display: flex;
    flex-wrap: wrap;
    position:absolute;
    padding: 0;
}

a {
    text-decoration: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

a img{
    width:5vw;
    padding-bottom: 0px;
    height: 100%;
    margin-bottom: 0px;
}

.title{
    font-family: GiddyupStd;
    font-size: 4em;
    color:black;
    position: absolute;
    left:20px;
    bottom: 7px;
}

.date{
    font-family: GiddyupStd;
    font-size: 4em;
    color:black;
    position: absolute;
    right:20px;
    bottom: 10px;
}