@font-face {
    font-family: SnellRoundhandLTStd-Scr;
    src: url("fonts/SnellRoundhandLTStd-Scr.otf") format("opentype");
}

body {
    margin:0;
    padding: 0;
    background-color: white;
    display: inline-block;
}

.screens {
    width:100vw;
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

a img{
    width:120px;
    padding-bottom: 0px;
    height: 100%;
    margin-bottom: 0px;
}

.title{
    width:60vw;
    margin-top: 30px;
    margin-left: 25px;
    font-family: SnellRoundhandLTStd-Scr;
    font-size: 2.5em;
    color:#ff63dd;
    position: fixed;
}

.sorting{
    position: absolute;
    font-family: sans-serif;
    font-size: 1em;
    color:#ff63dd;
    margin: 0 auto;
}

.sorting a{
    color:#ff63dd;
        margin: 0 auto;
}
