@font-face {
    font-family: SnellRoundhandLTStd-Scr;
    src: url("../fonts/SnellRoundhandLTStd-Scr.otf") format("opentype");
}

* {
	margin:0;
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100vw;
  height: 100vh;
}

.date {
  top:50px;
  left:20px;
	position: absolute;
	color:#ff63dd;
  font-size: 13em;
  font-family: SnellRoundhandLTStd-Scr;
  line-height: .8;
}

.links a{
	position: fixed;
	right:50px;
	top:50px;
	color:#ff63dd;
  font-family: sans-serif;
  font-size: 3em;
  text-decoration: none;
}

.links a:hover {
	text-shadow: 0 0 2px #ff63dd;
}