body {
  display: block;
  background-color: black;
  margin:0;
  padding: 0;
}

.gradient2 {
  margin: 50px;
  height: 180px;
  width:140px;
  border-radius: 50%;
}
#ring1 {
  margin: 50px;
  height: 180px;
  width:140px;
  border-radius: 50%;
}
.gradient3 {
  margin: 50px;
  height: 180px;
  width:140px;
  border-radius: 50%;
}

.top {
	display: flex;
	position: relative;
}

.bottom {
	display: flex;	
	position: relative;
}