@font-face {
    font-family: WindsorMTStd;
    src: url("fonts/WindsorMTStd.otf") format("opentype");
}

* { 
    padding: 0;
    margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom right, #22ffef, #7c40ff, #ced32d, #ef0dff);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: WindsorMTStd;
}

.blackbox p{
  color:#d3d4e3;
  bottom: 11px;
  right: 12px;
  position: absolute;
}

.front {
    margin: 0;
    top: 46vh;
}

.blackbox {
  background-color: black;
  position: fixed;
  padding;left: 32px;
  padding;right: 32px;
  padding;bottom: 32px;
  padding;top: 32px;
}

.gradient2 {
  height:68vh;
  width:50vh;
  border-radius: 50%;
  position: fixed;
   text-align: center;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.front img {
  height:80vh;
  position: fixed;
  text-align: center;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.front img:hover {
  cursor: pointer;
}

.text {
  font-size: 3.75em;
  letter-spacing: .05em;
}

.back {
    margin: 0;
    top: 46vh;
}

.back p{
  color:black;
  font-size: 3em;
  text-align: center;
  width:280px;
  margin:0 auto;
  padding-top:100px;
}

.ringback {
  height:68vh;
  width:50vh;
  border-radius: 50%;
  background-color: #d3d4e3;
  position: fixed;
  text-align: center;
  margin: 0;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.back img {
  height:80vh;
  position: fixed;
  text-align: center;
  margin: 0;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.back img:hover {
  cursor: pointer;
}


