@font-face {
    font-family: ArialNarrowMTStd;
    src: url("../fonts/ArialNarrowMTStd.otf") format("opentype");
}

* { 
    padding: 0;
    margin: 0;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: black;
}

.front {
	display: inline-block;
	margin:0 auto;
	text-align: center;
	margin-top:20vh;
}

.front img{
	width:40vw;
	margin:0 auto;
}

.front img:hover {
	cursor: pointer;
}

.text {
  font-family: ArialNarrowMTStd;
  font-size: 3.75em;
  letter-spacing: .05em;
}

.back {
  font-family: ArialNarrowMTStd;
  font-size: 1em;
}

.back p{
  color:#22ffef;
  margin-top: 60px;
  margin-left: 80px;
  position: absolute;
  font-size: 4em;
}

.back p:hover {
	cursor: pointer;
}

.border {
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #22ffef, #7c40ff, #ced32d, #ef0dff);
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: -1;
  box-sizing: border-box;
}

.blackbox {
  background-color: black;
  position: absolute;
  padding;left: 35px;
  padding;right: 35px;
  padding;bottom: 35px;
  padding;top: 35px;
}



